/* Main  */  
main{
  grid-area: main;
  overflow-y: auto;
}
.main-container{
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
  height: 100%;
}
  
  .title {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .title h3 {
    padding: 0;
    margin: 25px 15px 0px;
  }
  
  .users-container{
    background-color: #fff;
    margin-top: 10px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .search input {
    margin-left: 30px;
    width: 300px;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid rgb(244, 235, 235);
  }
  .add-button button{
   width: auto;
   padding: 10px 20px;
  }
  .green{
    border: 1px solid #28a745;
    border-radius: 4px;
    padding: 12px;
    color: #28a745;
    background-color: transparent;
    width: auto;
  }
  .block{
    border: 1px solid #bcaf03;
    border-radius: 4px;
    padding: 12px;
    color: #bcaf03;
    background-color: transparent;
    width: auto;
  }
  .delete{
    border: 1px solid red;
    border-radius: 4px;
    padding: 6px;
    color: red;
    background-color: transparent;
    width: auto;
  }
  .actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px;
  }
  .user .edit {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
  }
  .user .edit .img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .user .edit .img-holder img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  .user .edit .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    padding: 30px 0px;
    margin-left: 30px;
  }
  .user .edit .detail label{
   margin-top: 15px;
   font-weight: bold;

  }
  .user .edit .detail h6 {
    margin: 0;
    padding: 0;
  }
  .user .edit .detail p{
    word-break: break-all;
    margin: 0;
  }
  .user .edit .detail Button{
    margin-top: 20px;
    border-radius: 18px;
   }
   .small{
    font-size: 14px;
   }
   .email{
    font-size: 12px;
   }
  .user .update {
    background-color: #bcaf03;
  }
    .add{
    grid-template-columns: 1fr !important;
    width: 45%;
    margin: auto !important;    
  }
  .add .edit{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
  }
  .add .edit .img-holder{
    width: 28%;
  }
  .add .add-detail input{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    font-size: 14px;
  }
  .add  .profile{
   width: 100%;
  }
  .add .add-detail .password{
    position: relative;
  }
  .add .add-detail .password input{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    font-size: 14px;
    border-radius: 18px !important;
    padding: 10px 20px !important;
    width: 90% !important;
  }
  .add .add-detail .password Button{
    border-radius: 18px;
    width: fit-content;
    padding: 6px 30px;
    background-color: transparent;
  }
  .add .add-detail p{
    margin-left: 8px;
    font-size: 14px;
    color: grey;
  }
  .add .add-detail label{
    font-size: 14px;
    margin-left: 8px;
  }
  .add .add-detail Button{
    border-radius: 18px;
    width: fit-content;
    padding: 6px 30px;
    background-color: #1D7EC3;
  }
  .blue-logo{
    margin: 50px 10px ;
    width: 40% !important;
  }
   /* Small <= 768px */
    
   @media screen and (max-width: 768px) {
   .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .search{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }

   .search input {
    margin-left: -5px;
    margin-right: 5px;
    width: auto;
    border-radius: 12px;
   }
   .add{
    width: 100%;
   }
   .add-button button{
    font-size: 12px;
  }
  .users-container{
    width: fit-content;
  }
  .actions{
    width: 300px;
  }
  .user{
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .user .edit {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
  }
  .user .edit .detail {
    width: 100%;
justify-content: center;


  }
  }
  
  /* End Main  */